.textArea {
    border: 1px solid #E0E0E0;
    border-radius: 12px;
    width: 100%;
    height: 125px;
    resize: none;
    padding: 15px;
    color: #A1A1AA;
    font-size: 15px;
    font-weight: 500;
}

.item {
    display: flex;
    flex-direction: column;
    gap:8px;
    margin: 15px 0;
}